@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f3f4f6; /* 给 PC 端背景加个淡灰色，突出手机框 */
}

#app {
  width: 100%;
  height: 100%;
}

:root {
  background-color: #f3f4f6;
}

html, body, #app {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
